<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>

  {{ partial "navbar.html" . }}
  {{ partial "hero.html" . }}
  {{ partial "features.html" . }}
  {{ partial "howitworks.html" . }}
  {{ partial "specs.html" . }}
  {{ partial "buy.html" . }}
  {{ partial "footer.html" . }}

  <!-- Stripe.js -->
  <script src="https://js.stripe.com/v3/"></script>

  <!-- Main JS -->
  {{ $js := resources.Get "js/main.js" }}
  <script src="{{ $js.RelPermalink }}"></script>

  <!-- Pass config to JS -->
  <script>
    window.CO2AIR_CONFIG = {
      stripeKey: {{ .Site.Params.stripePublishableKey }},
      priceId: {{ .Site.Params.stripePriceId }},
      successURL: {{ .Site.Params.successURL | absURL }},
      cancelURL: {{ .Site.Params.cancelURL | absURL }}
    };
  </script>

</body>
</html>
